.<div class="card">
    <div class="card-body">
        <h1 class="card-title">Who am I?</h1>
        <p class="card-text">My name´s Cristo M. Estévez Hernández. I love web programmer but I work with different technologies and any language.</p>
        <p class="card-text">If you want know about me and my personals and business projects, follow me on github.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="https://github.com/Cristoto" target="_blank" role="button">GitHub</a>
        </p>
    </div>
</div>