.<div class="jumbotron">
    <h1 class="display-3">App Notes</h1>
    <p class="lead">Application built with NodeJS and MongoDB to manage personals notes like Trello.</p>
    <hr class="my-2">
    <p>Follow me on github for more applications</p>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://github.com/Cristoto" target="_blank" role="button">GitHub</a>
    </p>
</div>